<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Library World</title>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
    <!--above line copied directly from tutorial-->
</head>

<body>
    <div class="page">
        <h1>Library World ({{room}})</h1>

        <div class="dynamictext">
            <p>
                {% if output is not mapping %}
                    {{output}}
                
                {% else %}
                    {% if 'event' in output.keys() %}
                        {{output[event]}}
                        <br>
                    {% endif %}

                    {% if 'header' in output.keys() %}
                        {{output['header']}}
                        <br>
                    {% endif %}

                    {% for line in output['text'] %}
                        <br>
                        {{line}}
                    {% endfor %}

                    {% if 'inventory' in output.keys() %}
                        <br>
                        {{output['inventory']}}
                    {% endif %}

                    {% if 'npc' in output.keys() and 'inventory' in output.keys() %}
                        <br>
                        {{output['npc']}}
                    {% elif 'npc' in output.keys() and 'inventory' not in output.keys() %}
                        <br>
                        <br>
                        {{output['npc']}}
                    {% endif %}
                {% endif %}
            </p>

            <br>
            <form class='command' method='post' action='library_world' autocomplete='off'>
                <p>
                ><input class="textbox" name="response">
                </p>
            </form>
        </div>
    </div>
</body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".textbox").focus();
    });
</script>

</html>